body{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin:0;
}

#header{
    display:flex;
    width:86%;
    left:7%;
    position:relative;
}

#headertextcontainer{
    display:flex;
    flex-direction:column;
}

.flexspacer{
    flex-grow: 1;
}

#headertext{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: linear-gradient(333deg,rgba(5, 251, 255, 1) 1%, rgba(154, 87, 199, 1) 51%, rgba(229, 83, 237, 1) 100%);
    color: transparent;
    background-clip: text;
    font-size: 2.2em;
}

#headerimage{
   height:30em;
}





.wave-top {
  position: relative;
  margin-top: 20px;
}

.wave-top::before,
.wave-top::after {
  border-bottom: 5px solid rgb(0, 0, 0);
}

.wave-top::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image: radial-gradient(circle at 10px -15px, transparent 20px, rgb(0, 0, 0) 21px);
}

.wave-top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image: radial-gradient(circle at 10px 26px, rgb(0, 0, 0) 20px, transparent 21px);
}

.wave-mid {
  background-color: rgb(0, 0, 0);
  height: fit-content;
  color: white;
  padding: 1% 10% 3% 10%;
  font-size:1.2em;
}

.wave-bottom {
  position: relative;
}

.wave-bottom::before,
.wave-bottom::after {
  border-top: 5px solid rgb(0, 0, 0);
}

.wave-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image: radial-gradient(circle at 10px -15px, transparent 20px, #fff 21px);
}

.wave-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image: radial-gradient(circle at 10px 26px, #fff 20px, transparent 21px);
}





.accent-text{
    border: 1px solid black;
    border-radius:20px;
    height: 20px;
    width: fit-content;
    padding: 10px 20px 0px 20px;
    margin-bottom:20px;
    font-size: auto;
    font-size: .8em;
}


.section{
    width:60%;
    display:flex;
    left:20%;
    position:relative;
    margin-bottom: 10px;
}

.headerandimage{
    font-size: 1.3em;
    width:30%;
    margin: 5px 25px;
}

.headerandimage img{
    width:100%;
}

.section a{
    width:70%;
    text-align:justify;
}

#about{
    padding-top:25px;
}

.footer{
    height: 120px;
    background-color: blanchedalmond;
    font-weight:300;
    display:flex;
    padding:20px;
    margin-top: 20px;
}

.branding{
    width:33%;
    display:flex;
    flex-direction: column;
}

.branding .logo{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
    color: transparent;
    background-clip: text;
    font-size:2em;
}

.menu{
    width: 33%;
    display:flex;
    flex-direction: column;
    position:relative;
}

.menu a{
    color: black; 
    text-decoration: none;
    padding: 2px 0px;
    text-align: center;
}

.banner{
    background-color: #f8cb12;
    padding: 10px;
    text-align: center;
}

#popup1{
    position:absolute;
    width: 70%;
    height: 500px;
    background-color: rgb(232, 232, 232);
    z-index: 0;
    top:100px;
    left:15%;
    padding:20px;
    border: 2px solid black;
    display:none;
    flex-direction:column;
}


.popupsection{
    width:100%;
    display:flex;
    position:relative;
    margin-top: 20px;
}

.headerandimage{
    font-size: 1.3em;
    width:30%;
    margin: 0px 25px;
}

.headerandimage img{
    width:100%;
}

.popupsection a{
    width:70%;
    text-align:justify;
}

.offertext{
    text-align: center;
    font-size:1.2em;
    color:red;
}

.fineprint{
    font-size:.7em;
}

#closebutton{
    background: #fa0000;
    background: linear-gradient(0deg, rgba(250, 0, 0, 1) 0%, rgba(255, 110, 110, 1) 100%);
    padding:10px;
    width: fit-content;
    border-radius: 40px;
    text-align: center;
    color:white;
}

#closebutton:hover{
    background: #fc6868;
    background: linear-gradient(0deg, rgba(252, 104, 104, 1) 0%, rgba(255, 184, 184, 1) 100%);
}

.nopad_section{
    display:flex;
    position:relative;
    margin-bottom: 10px;
}