<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/applets/tasks/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="pagestructure">
            <div id="notstarted" class="column">
                <div class="card notstarted">
                    <a class="taskname">Balls</a>
                    <a class="assignedto"><u>Assigned to:</u> your mother</a>
                    <a class="duedate"><u>Due Date:</u> 4/20/69</a>
                </div>
            </div>

            <div id="inprogress" class="column">
                
            </div>

            <div id="completed" class="column">
                
            </div>


        </div>



    </body>

</html>