<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='goonStyles.css' )}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="welcometext">
            <a class="header">Welcome to CHAT</a>
            <a class="subheading">Start</a>
        </div>

        <div class="flexspacer"></div>

        <div id="textinputwrapper">
            <div id="textinput"></div>

        </div>
    </body>



</html>