<!DOCTYPE html>
<html lang="en">

    <head>
        <title>GoonOS Alpha 1</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/goonStyles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="menubar">
            <a id="logo">GoonOS Gateway </a>
            <a class="accent-text">{{ version }}</a>
            <div class="flexspacer"></div>

        </div>

        <!-- Main Window -->
        <div id="pagestructure">
            <div id="pagelist">
                <!--Content will be automatically added according to applets.json-->
            </div>
            <iframe src="{{ url_for('appletsindex') }}" class="applet" id="applet-iframe"></iframe>
        </div>

        <div id="footer">
            <a>Open-Source Software. Please Redistribute!</a>
            <div class="flexspacer"></div>
            <a>{{ version }}</a>
        </div>
        
    </body>

    <!--add custom right click menu-->


    <!--very fake loading screen-->
    <div id="pagecover">
        <div class="flexspacer"></div>
        <div id="loading">
            <a id="logo">GoonOS Gateway</a>
            <a id="loadtext">Loading.... Procuring Dependencies</a>
            <div class="flexspacer"></div>
            <a>{{ version }}</a>
        </div>
        <div class="flexspacer"></div>
    </div>

    <script>

        //Define route url's and names
        const routes = {
            botmanagement: {
                url: "{{ url_for('botmanagement') }}",
                name: "Bot Management"
            },
            chat: {
                url: "{{ url_for('chat') }}",
                name: "Chat"
            },
            steamstats: {
                url: "{{ url_for('steamstats') }}",
                name: "Steam Stats"
            }
        };

        const element = document.getElementById("pagelist");

        //Loop over entries in routes and create respective elements
        for (const key in routes) {
            let item = document.createElement('a')
            item.classList.add("pagelist_item");
            item.id = "applet-" + key ;
            item.innerHTML = routes[key].name;
            item.setAttribute("onclick", `loadIframe('${key}')` );

            element.appendChild(item);
        }
        
        //Load the iframe from the url provided in routes
        function loadIframe(routeName) {
            const iframe = document.getElementById("applet-iframe");
            iframe.src = routes[routeName].url;
        }

        // fake loading screen
        setTimeout(() => {
            var x = document.getElementById("loadtext").innerHTML = "Loading.... Recompiling Linux Kernel";
        }, 1300);

        setTimeout(() => {
            var x = document.getElementById("loadtext").innerHTML = "Loading.... Synergizing and Streamlining";
        }, 3000);

        setTimeout(() => {
            var x = document.getElementById("pagecover");x.style.display = "none";
        }, 4000);
    </script>

</html>
